* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-1 {
  background-image: url(./images/Rectangle\ 5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px;
}
.header {
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 134px;
}
.content h1 {
  width: 692px;
  height: 72px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #ffffff;
}
.content p {
  width: 638px;
  height: 62px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.content img {
  left: 455px;
  top: 313px;
}
.banner {
  margin: 0 auto;
  margin-top: -35px;
}
.section-2 {
  background-image: url(./images/Rectangle\ 6.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2100px;
  margin-top: -330px;
}
.sec-2 {
  background: url(./images/Main-BG.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0px;
  border: 0.1px solid black;
  height: 100%;
}
.sec_2_content {
  width: 607px;
  height: 219.28px;
  margin-top: 534px;
  margin-left: 75px;
}
.sec_2_content2 {
  width: 607px;
  height: 219.28px;
  margin-top: 534px;
  margin-left: 720px;
}
.sec-4 img {
  width: 100%;

  margin-top: -610px;
}
.sec-3 img {
  width: 100%;

  margin-top: -495px;
}
.sec-5 img {
  width: 100%;

  margin-top: -495px;
}
.sec-6 img {
  width: 100%;
}
